{% extends 'partials/base.html' %}
{% load static %}

{% block page_name %}Routes{% endblock %}

{% block page_styles %}

{% endblock %}

{% block header %}Routes{% endblock %}


{% block content %}
<div class="row text-center">
    <div class="col"><a href="{% url 'add-route' %}" class="btn btn-warning m-2">Add a New Route</a></div>
</div>
<table class="table table-hover" style="background: rgba(200,200,200, 0.4);">
    <thead>
    <tr>
        <th scope="col">Contributor</th>
        <th scope="col">Added On</th>
        <th scope="col">Distance</th>
        <th scope="col">Elevation Gain</th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
{% for route in object_list %}
    <tr>
        <td><a href="{% url 'accounts:profile' route.contributor.pk %}">{{ route.contributor }}</td>
        <td>{{ route.added_on }}</td>
        <td>{{ route.distance }}</td>
        <td>{{ route.elevation }}</td>
        <td>{{ route.description }}</td>
        <td>{% if route.link %}<a href="{{ route.link }}" target="blank" style="color:blue">{{ route.link }}</a>{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}


{% block scripts %}{% endblock %}