body {
    background: url(/static/images/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.msg{
    padding: 15px;
    background: rgba(255,255,255, 0.6);
}

.big-check {
    width: 20px;
    height: 20px;
}